body {
    background: #0f172a;
    color: white;
    font-family: Arial;
}
 
h1 {
    text-align: center;
    color: #22c55e;
}
 
.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}
 
button {
    background: #22c55e;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#graph {
    height: 500px;
    background: #020617;
    border: 2px solid #22c55e;
    border-radius: 10px;
}
 
pre {
    text-align: left;
    background: #020617;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
}